 
 {% load staticfiles %}
 <!--==========================
      About Us Section
    ============================-->
    <head>
        <meta charset="utf-8">
        <title>about</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
      
        <!-- Favicons -->
        <!--<link href="img/favicon.png" rel="icon"> -->
      <!-- <link href="img/apple-touch-icon.png" rel="apple-touch-icon">  -->
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
      
        <!-- Bootstrap CSS File -->
        <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      
        <!-- Libraries CSS Files -->
        <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
      
        <!-- Main Stylesheet File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
      
        <!-- =======================================================
          Theme Name: BizPage
          Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
          Author: BootstrapMade.com
          License: https://bootstrapmade.com/license/
        ======================================================= -->
      </head>
      <body>
        
      <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>About Us</h3>
            <p>my company is coming up With offers 100% Asli Moneyback . 
              The user gets Moneyback within few weeks.</p>
          </header>
  
          <div class="row about-cols">
  
            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="{% static 'img/about-mission.jpg' %}" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Mission</a></h2>
                <p>
                    we offer online marketing strategy, planning & creativity,
                     resulting in fully managed and highly successful online marketing campaigns. 
                </p>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="{% static 'img/about-plan.jpg' %}" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-list-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Plan</a></h2>
                <p> Our expertise lies in applying advanced e-Marketing knowledge to complex business issues and
                   delivers the finest solution to create best online customer experience on your web properties.
                </p>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="about-col">
                <div class="img">
                  <img src="{% static 'img/about-vision.jpg' %}" alt="" class="img-fluid" >
                  <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Vision</a></h2>
                <p>
                    we visualize a world of digital experiences and maintain it through our data-driven solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #about -->

  <!--JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!--<script src="contactform/contactform.js' %}">-->
  </script>
  <script src="{% static 'js/main.js' %}"></script>
  </body>
  </html>
   