<!DOCTYPE html>
<html>
    <title>Main</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <style type="text/css">
        .centerdiv
        {  width:45%;
           margin-left:auto;
           margin-right: auto;
           margin-top: 50px;
           text-align: center;
        }
        .login
        {  width:45%;
           margin-left:auto;
           margin-right: auto;
           text-align: center;
        }
        .blog
        {  margin-top: 0px;
           padding-top: 1%;
           padding-bottom:1%;
           width:65%;
           margin-left:auto;
           margin-right: auto;
           text-align: center;
        }
        </style>
<!-- 
    <nav class="navbar navbar-default navbar-fixed-top" role= "navigation" >
        <ul class ="nav navbar-nav">
                {% if user != None %}
                <a class="navbar-brand" href="#">{{user.username}}</a>
                <li><a href="/addblock/" data-toggle="modal" data-target="#addblog">ADD BLOG</a> </li>
                {% endif %}
                <li><a href="#" data-toggle="modal" data-target="#login">LOGIN</a> </li>
        </ul>
    </nav>

    <div class= "page-header centerdiv">
        <h1>Blog Articles</h1>
    </div>

    <div class= "blog well">
        {% for blog in blogs %}
            <div>
                <div class="page-header">
                   <h3>{{blog.title}}</h3>
                   <small>{{blog.users}}</small>
                   <h1></h1>  

                </div>
             {{blog.blog_content}}
            </div>
            {% endfor %}
            
            <div class = "modal fade" id="login">
                <div class ="modal-dialog">
                    <div class= "modal-content">
                        <form method="POST">
                            {% csrf_token %}
                            <div class ="modal-body login">
                                <b>Username :</b>
                                <input class ="form-control" name="username"/>
                                <b>Password :</b>
                                <input type="password" class="form-control" name="password">
            </div>
            
            <div  class = "modal-footer">
                <input type="Submit" class= "btn btn-success pull-left" value="login"/>
            </form>
                <button type="button" class ="btn-btn-default" data-dismiss ="modal">Close</button>
            </div>
                </div>
            </div>
        </div>

        <div class = "modal fade" id="addblog">
                <div class ="modal-dialog">
                    <div class= "modal-content">
                        <form action = /addblog/ method="POST">
                            {% csrf_token %}
                            <div class ="modal-body login">
                                <b>TITLE :</b>
                                <input class ="form-control" name="TITLE"/>
                                <b>BLOG CONTENT :</b>
                                <input type="blog_content" class="form-control" name="blog_content">
            </div>
            
            <div  class = "modal-footer">
                <input type="Submit" class= "btn btn-success pull-left" value="Submit"/>
            </form>
                <button type="button" class ="btn-btn-default" data-dismiss ="modal"> Cancel</button>
            </div>
                </div>
            </div>
        </div> -->
    </body>
</html>
